$white: #ffffff;
$black: #111317;
$primary-color: #7451ff;
// $green: #0fc46d;
// $yellow: #f79723;
// $red: #940d1e;
// Small tablets and large smartphones (landscape view)
$screen-xs-max: 376px;

$screen-sm-max: 576px;
// Small tablets (portrait view)
$screen-md-max: 768px;
// Tablets and small desktops
$screen-lg-max: 992px;
// Large tablets and desktops
$screen-xl-max: 1230px;

$satoshi: "Satoshi";
$satoshiB: "Satoshi Bold";
$satoshiBI: "Satoshi Bold Italic";
$satoshiL: "Satoshi Light";
$satoshiLI: "Satoshi Light Italic";
$satoshiM: "Satoshi Medium";
$satoshiMI: "Satoshi Medium Italic";
$satoshiBlack: "Satoshi Black";
$satoshiBlackI: "Satoshi Black Italic";
