@import "../assets/scss/_variables.scss";
@import "../assets/scss/mixins.scss";
@import "../assets/scss/fonts.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: $satoshi;
  background: #f3f5f8;
  overflow-x: hidden;
}
html {
  &.fixed {
    overflow: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $white;
  border-radius: 12px;
  padding: 13px 24px;
  border: none;
  cursor: pointer;

  &.primary {
    background: $primary-color;
    &.onlyIcon {
      padding: 12px;
    }
    &:hover {
      background: #6446dc;
    }
    &:disabled {
      background: #d5cbff;
    }
  }
  &.secondary {
    background: #ffffff;
    border: 1px solid #e3e4ec;
    color: $black;
    font-size: 16px;
    padding: 12px 24px;
    @include sm {
      padding: 6px 16px;
      font-size: 14px;
    }
    &.onlyIcon {
      padding: 12px;
      display: flex;
    }
    &:hover {
      background: #f8f9fc;
    }
    &:disabled {
      background: #ffffff;
      color: #adb4bd;
    }
  }
  @include sm {
    padding: 6px 16px;
    font-size: 14px;
  }
}

.mobile-menu {
  display: none;
  .sidebar-root {
    display: none;
    @include lg {
      display: block;
    }
    width: 0px;
    &.sidbar-container {
      position: absolute;
      width: 455px !important;
      height: 100vh;
      right: -60px !important;
      left: unset !important;
      @include sm {
        width: 110% !important;
        right: -20px !important;
      }
    }
    .sidbar-overlay {
      height: 100vh;
      background: none !important;
    }
    .sidebar-content {
      visibility: hidden;
    }
    .sidebar {
      left: -1px;
      width: 100%;
      padding: 28px 60px 60px;
      .sidbar-content {
        height: 100%;
        .sidebar-close {
          display: flex;
          justify-content: flex-end;
          .sidebar-website-logo {
            display: none;
            @include sm {
              display: block;
              max-width: 104px;
              > svg {
                width: 100%;
              }
            }
          }
          @include sm {
            justify-content: space-between;
            align-items: center;
          }
        }
        .main-content {
          height: calc(100% - 46px);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .product-and-info {
            .products-section,
            .info-section {
              margin-top: 30px;
              > h3 {
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 26px;
                margin-bottom: 16px;
              }
              > div {
                display: grid;
                grid-gap: 16px;
                > a {
                  font-style: normal;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 24px;
                  padding: 10px 16px;
                  &:hover {
                    background: $white;
                    border-radius: 12px;
                  }
                }
              }
            }
          }
        }
        .sidebar-footer {
          > .primary {
            width: 100%;
          }
          .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 24px;
            > div {
              background: #fff;
              padding: 15px;
              border-radius: 12px;
              &:not(:last-child) {
                margin-right: 40px;
                @include sm {
                  margin-right: unset;
                }
              }
            }
          }
        }
      }
      @include sm {
        padding: 20px;
      }
    }
  }
  @include md {
    display: block;
  }
}
