@import "../assets/scss/_variables.scss";
@import "../assets/scss/mixins.scss";
.partners {
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  > div {
    @include md {
      max-width: 96px;
      > svg {
        width: 100%;
      }
    }
  }
  @include sm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
  }
}
