@import "../assets/scss/_variables.scss";
@import "../assets/scss/mixins.scss";

.roadmapSection {
  margin-top: 40px;
  padding: 100px 20px 30px;
  position: relative;
  min-height: 580px;
  .title {
    font-family: $satoshiB;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: $black;
    margin-bottom: 48px;
    @include sm {
      font-size: 36px;
      line-height: 44px;
      text-align: center;
    }
  }
}
